<p style="color: green"><%= notice %></p>

<%= render @user %>

<% if current_user == @user %>
  <div>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path %>

    <%= button_to "Destroy this user", @user, method: :delete %>
  </div>
<% end %>


  <h1>Events</h1>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 ">
    <div id="events">
      <% @events.each do |event| %>
        <% if event.admin == current_user %>
          <%= render event %>
        <% end %>
      <% end %>
    </div>
  </div>


