<%= render 'events/hero' %>

            <% if user_signed_in? %>
                <section class="py-5" id="features">
                    <div class="container px-5 my-5">
                        <div class="row gx-5">
                            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Events in your area : </h2></div>
                            <div class="col-lg-8">
                                <div class="row gx-5">
                                    <% @events.each do |event| %>
                                        <div class="col-lg-6 mb-5">
                                            <div class="row row-col-6 row-col-md-5">
                                                <div class="col mb-5 h-100">
                                                    <h2 class="h5"><strong><u><%= event.title %></u></strong></h2>
                                                    <p class="h5"><strong>Start date :</strong> <%= event.start_date %></p>
                                                    <p class="h5"><strong>Duration :</strong> <%= event.duration %></p>
                                                    <p class="h5"><strong>Price :</strong> <%= event.price %></p>
                                                    <p class="h5"><strong>Location:</strong> <%= event.location %></p>
                                                    <p class="mb-0"><%= link_to "Show this event", event, {class: 'btn btn-primary'}%></p>
                                                </div>
                                            </div>
                                        </div>    
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <% else %>
                <h3>Sign in if you want to see the events occuring in your city </h3>
            <% end %>
